@{
    ViewData["Title"] = "Home Page";
}

<p>
    Welcome to the Student Management Portal
    <ul>
        <li>CRUD operations for User and Student implemented using Entity Framework Core and AutoMapper</li>
        <li>Authentication and Authorization will be added in the next practical.</li>
    </ul>
    @Html.ActionLink("Student List", "Index", "Student", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("User List", "Index", "User", null, new { @class = "btn btn-primary" })
</p>
